In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from tqdm.notebook import tqdm

In [2]:
train_global_annotations_path = "/scratch/scratch6/akansh12/DeepEXrays/physionet.org/files/vindr-cxr/1.0.0/annotations/image_labels_train.csv"
test_global_annotations_path = "/scratch/scratch6/akansh12/DeepEXrays/physionet.org/files/vindr-cxr/1.0.0/annotations/image_labels_test.csv"

In [3]:
train_annotations = pd.read_csv(train_global_annotations_path)
test_annotations = pd.read_csv(test_global_annotations_path)

The global labels we will be working on are:
- Pneumonia
- Tuberclosis
- Lung Tumor
- Pleural effusion
- Other diseases
- No findings

In [15]:
global_labels = ['Pleural effusion', 'Lung tumor', 'Pneumonia', 'Tuberculosis', 'Other diseases', 'No finding']

In [6]:
train_annotations.columns

Index(['image_id', 'rad_id', 'Aortic enlargement', 'Atelectasis',
       'Calcification', 'Cardiomegaly', 'Clavicle fracture', 'Consolidation',
       'Edema', 'Emphysema', 'Enlarged PA', 'ILD', 'Infiltration',
       'Lung Opacity', 'Lung cavity', 'Lung cyst', 'Mediastinal shift',
       'Nodule/Mass', 'Pleural effusion', 'Pleural thickening', 'Pneumothorax',
       'Pulmonary fibrosis', 'Rib fracture', 'Other lesion', 'COPD',
       'Lung tumor', 'Pneumonia', 'Tuberculosis', 'Other diseases',
       'No finding'],
      dtype='object')

In [17]:
test_annotations[global_labels]

,Pleural effusion,Lung tumor,Pneumonia,Tuberculosis,Other diseases,No finding
0,1,0,1,0,1,0
1,1,0,1,0,0,0
2,0,0,0,1,0,0
3,0,1,0,0,0,0
4,0,0,0,0,1,0
...,...,...,...,...,...,...
2995,0,0,0,0,0,1
2996,0,0,0,0,0,1
2997,0,0,0,0,0,1
2998,0,0,0,0,0,1
2999,0,0,0,0,0,1

In [18]:
train_annotations[global_labels]

,Pleural effusion,Lung tumor,Pneumonia,Tuberculosis,Other diseases,No finding
0,0,0,0,0,0,1
1,0,0,0,0,0,1
2,0,0,0,0,0,1
3,0,0,0,0,0,1
4,0,0,0,0,0,1
...,...,...,...,...,...,...
44995,0,0,0,0,0,1
44996,0,0,0,0,0,1
44997,0,0,0,0,0,1
44998,0,0,0,0,0,1
44999,0,0,0,0,0,1